* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .editarPanerl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .editarPanerl .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }

body {
    background-color: #141414;
    color: white;
  }
  

#addBio,
#addIMG {
  width: 65%;
  display: flex;
  margin: 20px 0px;
  align-items: center;
}

#addBio textarea,
#addIMG textarea {
  font-size: 30px;
  width: 100%;
  height: 80px;
  border-radius: 6px 0px 0px 6px;
  resize: none;

}

#addBio button,
#addIMG button{
  width: 20%;
  height: 80px;
  transition: 0.3s;
  background-color: #880000;
  border: none;
  border-radius: 0px 6px 6px 0px;
  color: white;
}

#addBio button:hover,
#addIMG button:hover{

  background-color: #ce0000;

}
#perfilImg{
  width: 200px; 
}
#btnAtualizar  {
  border-radius: 6px;
    padding: 20px 50px;
    transition: 0.3s;
    background-color: #880000;
    border: none;
    color: white;
  }
#btnAtualizar:hover {
  border-radius: 6px;
    background-color: #ce0000;
  
  }
  textarea:focus{
    outline: none;
}