* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 334px;
  width: 100%;
  /* rgba(0, 0, 0, 0.221), url("https://s.aficionados.com.br/imagens/stark.jpg"); */


  color: white;
}
#lemaH1{
  margin: 0px 10vw 0px 0px;
}

body {
  background-color: #141414;
  color: white;
}

.infoPessoa {
  display: flex;
  width: fit-content;
  justify-content: left;
  align-items: flex-end;
  text-align: center;
  position: relative;
  left: 183px;
  bottom: 100px;
}

#username {
  position: relative;
  left: 22px;
  bottom: 46px;
  font-size: 40px;
  font-weight: bold;
}

#perfilImg {
  width: 200px;
  border-radius: 70%;
}
#editPerfilLink{
  position: relative;
  left: 50px;
  bottom: 46px;
  text-decoration: none;
  color: white;
}
#editPerfilLink img{
width: 25px;
}
#userInfo {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 120px;

}

#userInfo .container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 90%;

}

#userInfo p {
  display: inline;
  font-size: 36px;

}

#bioh2 {
  display: inline-block;
  font-size: 20px;
  color: rgb(187, 187, 187);

}

#bio {
  width: 60%;
}

#addBio,
#addIMG {
  width: 65%;
  display: flex;
  margin: 20px 0px;
  align-items: center;
}

#addBio textarea,
#addIMG textarea {
  font-size: 30px;
  width: 100%;
  resize: none;

}

#addBio button,
#addIMG button {
  width: 20%;
  height: 100%;
  transition: 0.3s;
  background-color: #880000;
  border: none;
  color: white;
}

#addBio button:hover,
#addIMG button:hover {

  background-color: #ce0000;

}

.inventario {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 0px 0px;
  width: 65%;
  background-color: #262626;
  ;
  min-height: 200px;
}

.inventario h2 {
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 20px 50px;
  font-weight: bold;
}

#itens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#itens .container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  
}

.item {
  margin: 20px 20px;
}
.item img{
  width: 100px;
}