*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #141414;
    color: white;
    background-image: url('../assets/imgs/background_4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    padding:40px 0px;
}
.quiz{
        width: 100%;
        min-height: 70vh;
        display: flex;
        justify-content: center;
}
.quiz .container{
    min-width: 320px;
    max-width: 1200px;
    width: fit-content;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pergunta{
    min-width: 900px;
    max-width: 1000px;
    background-color: #2c2c2c;
    margin: 20px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.divTitle{
    display: flex;
    width: 100%;
    margin: 20px;
}
.titlePergunta{
    font-size: 30px;
}
.pergunta .options{
display: flex;
flex-direction: column;
width: 100%;

}
.containerOption{
    margin: 20px 0px;
    padding: 0px;
    display: flex;
  justify-content: center;
    
}
.containerOption label{
  display: flex;
  justify-content: center;
    
}
.containerOption p{
    width: 95%;
    text-align: left;

    
}
.containerOption input + label{
    transition: 0.5s;
    padding: 20px;
    width: 90%;
    border-radius: 6px;
    background-color: #707070; 
}
.containerOption input:hover + label:hover{
    padding: 20px;
    background-color: #000000;
    width: 90%;
    border-radius: 6px;
}
.containerOption input:checked + label{
    padding: 20px;
    background-color: #000000;
    width: 90%;
    
}
 .pergunta .options input{
display: none;
    } 
.btnContinuar{
    transition: 0.5s;
    padding: 20px 40px;
    border-radius: 6px;
    background-color: #000000;
    border: none;
    color: white;
    font-weight: bold;
}
.btnContinuar:hover{
    background-color: #ce0000;
    font-weight: bold;
}

.resultPanel{
    width: 90vw;
    height:50vh;
    background-color: #2c2c2c;
}